@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 0.5px;
}



.product-card:hover .product-overlay {
    opacity: 1;
}

.product-overlay {
    background: rgba(255, 255, 255, 0.85);
    transition: all 0.3s ease;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #000;
    transition: width 0.3s;
}

.nav-link:hover::after {
    width: 100%;
}
.dropdown-toggle::after {
    display: none !important; /* Ẩn mũi tên dropdown mặc định */
}

.dropdown-menu {
    margin-top: 10px !important;
    border: 1px solid rgba(0,0,0,.15) !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}


.collection-hover:hover .collection-overlay {
    opacity: 1;
}

.collection-overlay {
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease;
}


